<% record_help = t("blacklight.create_record_help") %>

<%= form_for @record do |f| %>

  <% if @record.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
      <div class="form-group">
        <%= f.label :collection %>
        <%= f.text_field :collection, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :identifier %>
        <%= f.text_field :identifier , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 10 , class: "form-control" %>
      </div>
  </fieldset>
  <fieldset>
    <legend>Facets</legend>
    <span class="help-block"><%= t("blacklight.create_record_help")%></span>
      <div class="form-group">
        <%= f.label :subject_controlled_list, "Categories" %>
        <%= f.text_field :subject_controlled_list, :placeholder => "dc.subject.controlled" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :source_list, "Databases" %>
        <%= f.text_field :source_list, :placeholder => "dc.source" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :extent_list, "Extent" %>
        <%= f.text_field :extent_list, :placeholder => "dc.extent" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :language_list, "Languages" %>
        <%= f.text_field :language_list, :placeholder => "dc.language" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :coverage_spatial_list, "Locations" %>
        <%= f.text_field :coverage_spatial_list, :placeholder => "dc.coverage.spatial" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :accrualPeriodicity_list, "Frequency" %>
        <%= f.text_field :accrualPeriodicity_list, :placeholder => "dc.accrualPeriodicity" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :coverage_temporal_list, "Activity" %>
        <%= f.text_field :coverage_temporal_list, :placeholder => "dc.coverage.temporal" , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :subject_tag_list, "Tags" %>
        <%= f.text_field :subject_tag_list, :placeholder => "dc.subject.tag" , class: "form-control" %>
      </div>
  </fieldset>

  <div class="actions">
    <button type="submit" class="btn btn-default">Save changes</button>
  </div>
<% end %>
