<h1><%= @record.collection %>: <%= @record.title %></h1>

<dl class="dl-horizontal">

  <dt>Collection:
  <dd>&nbsp;<%= @record.collection %></dd>

  <dt>Title:</dt>
  <dd>&nbsp;<%= @record.title %></dd>

  <dt>Identifier:</dt>
  <dd>&nbsp;<%= @record.identifier %></dd>

  <dt>Description:</dt>
  <dd>&nbsp;<%= @record.description %></dd>

</dl>

<%= link_to edit_record_path(@record), class: "btn btn-link" do %>
  <i class="glyphicon glyphicon-wrench"></i> Edit
<% end %>
<%= link_to records_path, class: "btn btn-link" do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
