<% if current_user.admin? %>
  <%= sidebar_section("admin_links", content_tag(:h2, "Admin Panel")) do %>
  <ul class="admin_options">
      <li><%= link_to "Manage Records", records_url %></li>
      <li><%= link_to "Manage Users", users_url %></li>
  </ul>
  <% end %>
<% end %>

<%= sidebar_section("user_util_links", content_tag(:h2, "My Workspace")) do %>
  <ul>
  <% if render_bookmarks_control? %>
      <li>
        <%= link_to bookmarks_path, id:'bookmarks_nav' do %>
          <%= t('blacklight.header_links.bookmarks') %>
    (<span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>)
        <% end %>
      </li>
  <% end %>
  <% if current_user %>
      <li><%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %></li>
  <% end %>
      <li><%= link_to t('blacklight.header_links.search_history'), search_history_path %></li>
  </ul>
<% end %>
