<% if current_user && current_user.admin? %>
  <%= sidebar_section("admin_links", content_tag(:h2, "Admin Panel")) do %>
  <ul class="admin_options">
      <li><%= link_to "Manage Records", records_url %></li>
      <li><%= link_to "Manage Users", users_url %></li>
  </ul>
  <% end %>
<% end %>

<%= sidebar_section("user_util_links", content_tag(:h2, "My Workspace")) do %>
  <ul>
    <%= render_nav_actions do |config, action|%>
      <li class="nav-item"><%= action %></li>
    <% end %>
  </ul>
<% end %>
